
body {
    background-color: #f5f5dc;
    font-family: Montserrat, sans-serif; 
}


    .Hamburguers_lista {
        color: brown;
        font-family: "Pacifico";
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1.5;        
        margin-top: 15px;        
        margin-bottom: 4px;     
        text-align: left;
    }

    .Hamburguer {
        color: brown;
        font-family: Montserrat, sans-serif;
        font-size: 0.9rem;
        margin-top: 0;            
        margin-bottom: 2px;     
        font-style: oblique;
        text-align: left;
    }

    .ig_hamburguer {
        margin-top: 0;            
        margin-bottom: 15px;      
        color: brown;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6rem;
        text-align: left;
    }

